body {
    margin: 15px 15px 0px 15px;
    overflow: hidden;
    font-size: 40px;
    color: white;
    background: url(../img/bg1.jpg)
}

@font-face {
    font-family: MISTRAL;
    src: url(../fonts/MISTRAL.TTF);
}

.room_block {
    width: 100%;;
    border-radius: 7px;
    border: 3px solid #000;
    color: #ff0;
}

.room_number {
    font-size: 100px;
    float: left;
    color: #00ff00;
	//padding: 10 px 40 px;
    padding: 0px 20px;
    border-radius: 7px;
	//border-right: 3 px solid #000;
    font-family: MISTRAL, sans-serif;
}

/*.school_logo {
    font-size: 100px;
    float: right;
    background: #44546a;
    color: #fff;
    padding: 0px 10px;
    //border-radius: 7px;
    //border-right: 3px solid #ccc;
    }*/

.room_name {
    font-size: 70px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.schedule_block {
    border: 3px solid #000;
    border-radius: 7px;
    width: calc(50% - 7.5px);
    margin-top: 15px;
    margin-right: 15px;
    min-height: 35vh;
    float: left;
    padding: 10px;
    font-size: 30px;
}

.info_block {
    font-size: 35px;
    border: 3px solid #000;
    border-radius: 7px;
    width: calc(50% - 7.5px);
    margin-top: 15px;
    min-height: 45vh;
    float: right;
    padding: 10px;
}

.tasks_block {
    width: auto;
    height: 780px;
    font-size: 35px;
    border: 3px solid #000;
    border-radius: 7px;
    padding-left: 1rem !important;
    padding-top: 1rem !important;
    margin-top: 1rem !important;
}

/*.facts_block {
    width: auto;
    //height: 440px;
    height: 290px;
    background: #44546a;
    font-size: 35px;
    border: 3px solid #000;
    border-radius: 7px;
    padding-left: 1rem!important;
    padding-top: 1rem!important;
    margin-top: 1rem!important;
    }*/

.fire-safety_block {
    color: #ed4c47;
    text-align: left;
    font-size: 30px;
    margin-top: 1rem !important;
}

table {
    border: 3px solid white;
}

td, tr, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}